@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@300&family=Nunito&family=Nunito+Sans&family=Outfit:wght@400;700&family=PT+Serif&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.header__figure {
  width: 100%;
  height: auto;
}

.main__figure {
  width: 20%;
  height: auto;
  margin-bottom: 1.5rem;
}

.figcaption {
  position: absolute;
  left: -10000px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(235, 18%, 26%);
}

.container {
  width: min(100%, 55rem);
  height: auto;
  margin: 5rem auto;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row-reverse;
  gap: 2rem;
  padding: 1.5em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.9rem;
}

.header {
  display: block;
}

.primary__article {
  display: block;
}

.main {
  color: hsl(234, 29%, 20%);
  padding-top: 4em;
  padding-left: 1em;
  font-size: clamp(0.8rem, 1.6vw, 1rem);
}

h1 {
  font-size: clamp(2rem, 4.4vw, 2.8rem);
  font-weight: 700;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1.5rem;
}

li {
  list-style-image: url(./assets/images/icon-list.svg);
  line-height: 2;
  list-style-position: inside;
}

span {
  padding-left: 0.5rem;
}

label {
  font-weight: 700;
  font-size: clamp(0.6rem, 1.3vw, 0.8rem);
}

input {
  width: 90%;
  height: 3rem;
  margin-top: 0.5rem;
  border: 0.1px solid hsl(234, 29%, 20%);
  border-radius: 0.5rem;
  padding-left: 1rem;
}

button {
  margin-top: 1rem;
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: inherit;
  font-weight: 700;
}

.secondary__article {
  display: none;
  padding-right: 0.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: aliceblue;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 712px) {
  .container {
    flex-flow: column nowrap;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
  }

  .main {
    padding-top: 0;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .main :is(input, button) {
    width: 100%;
  }

  .primary__article {
    margin: 0 auto;
  }

  .secondary__article {
    margin-top: 7rem;
    margin-left: 2rem;
    padding-right: 0;
  }

  .secondary__article h1 {
    margin-right: 4rem;
  }

  .secondary__article p {
    line-height: 2;
    margin-bottom: 11rem;
  }
}
